/vim/plugins
/node_modules
cmder/.history
cmder/user-ConEmu.xml
Code/Cache
Code/CachedData
Code/GPUCache
Code/Local Storage
Code/logs
Code/Cookies
Code/Cookies-journal
Code/machineid
Code/storage.json
Code/Backups/workspaces.json
Code/User/workspaceStorage
.env